body {
	font-family: "Courier New", "Arial"
}

::selection {background-color: transparent;}
.canSelect::selection {
	background-color: rgb(123, 180, 199);
}

.pull-right{
	padding-right: 5px !important;
}

.ui-layout-pane {
	padding: 0px !important;
	background: linear-gradient(#D8D8D8, #d0d0d0);
}

#main {border: 0px;}

#menubar, #statusbar {border: none; overflow: hidden;}

.menubar {
	overflow: visible !important;
	z-index: 1 !important;
	background: linear-gradient(#D8D8D8, #d0d0d0);
	height: 30px;
}

.dropdown-menu{
	background: linear-gradient(#D8D8D8, #d0d0d0);
}

.menubutton{
	background: linear-gradient(#D8D8D8, #d0d0d0);
	display: inline-block;
	touch-action: manipulation;
	border: 1px solid transparent;
}

#menubarId{float: left;}

.toolbar {
	background: linear-gradient(#D8D8D8, #d0d0d0);
	padding: 2px 0;
	color: green;
	display: block;
	overflow: visible !important;
	z-index: 1 !important;
	width: 100%;
}

.toolbar div {
	padding: 0 0 0 10px;
}

.toolbar div select {
	margin: 0 -5px;
	color: black;
}

.toolbar i {color: green;}

.toolbarItem {
	display: inline-block;
	width: 23px;
	height: 23px;
	text-align: center;
	line-height: 23px;
	margin: 0 3px 0 3px;
	border: none;
}

.menubutton:hover, .toolbarItem:hover {
	background: rgba(0,0,0,.1);
	cursor: pointer;
}

.devider {
	color: transparent;
	display: inline-block;
	width: 0;
}

.devider:before {
	content: "";
	position: absolute;
	height: 20px;
	width: 1px;
	background-color: #B6B6B4;
}

#connectInfo {color: black;}

#treeDIV {
	height: 100%;
	background-color: #eee;
}

#scheme {
	position: relative;
	width: 100%;
	height: 100%;
}

#scheme::scrollbar {display: none;}
#southPane::scrollbar {display: none;}
#schemeContainer::scrollbar {display: none;}

.glyphicon, .fa {color: green;}

.popupW {
	position: absolute;
	top: 0;
	left: 0;
	background-color: silver;
	display: none;
	border-color: rgb(123, 180, 199);
	border-style: solid;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	z-index: 2;
}
.triangleLeft{
	position: absolute;
	width: 0;
	height: 0;
	border-right: 10px solid rgb(123, 180, 199);
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

.popupHeader {
	background-color: rgb(123, 180, 199);
	font-weight: bold;
	cursor: pointer;
}
.popupHeader span {padding: 5px;}
.closeButton {
	float: right;
}
.closeButton:hover {
	background-color: blue;
}

.popupToolbar{
	border-top: solid 2px #555;
	border-bottom: solid 2px #7BB4C7;
}

.popupContent {padding: 3px;}
.popupContent table tr td {padding: 0 3px 0 3px;}
.popupContent table tr td:first-child {text-align: right;}
.popupContent table tr td:last-child {text-align: left;}

#divTableAlarm {
	position: relative;
	overflow: auto;
}

.nav li a{padding: 3px 3px;}
.tabs-below > .nav-tabs{
	border-bottom: 0;
	border-top: 1px solid #ddd;
}
.tabs-below > .nav-tabs > li {
	margin-top: -1px;
	margin-bottom: 0;
}
.tabs-below > .nav-tabs > li > a {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
	border-top-color: #ddd;
	border-bottom-color: transparent;
}
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
	border-color: transparent #ddd #ddd #ddd;
}
.nav-tabs>li.active>a {background-color: #eee}

.datePicker {
	line-height: normal;
	background-color: #ddd;
	color: inherit;
	width: 100px;
}
.ui-widget{
	font-family: inherit;
	font-size: 0.8em;
}
.ui-datepicker-calendar {background-color: #ddd;}
.ui-datepicker-trigger{border:none;background:none;}

#dataWrapper{
	max-height: 400px;
	height: 400px;
	overflow: scroll;
	padding: 1px;
}
#dataTable{width: inherit;}
#dataTable thead tr th{width: 200px;}