.container{
	display: inline-block;
}

.triangle-up{
	width: 0;
	height: 0;
	border-bottom: 100px solid black;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}

.triangle-down{
	width: 0;
	height: 0;
	border-top: 100px solid black;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}

.triangle-left{
	width: 0;
	height: 0;
	border-right: 100px solid black;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
}

.triangle-right{
	width: 0;
	height: 0;
	border-left: 100px solid black;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
}

.cont{
	width: 100px;
	height: 200px;
	background-color: #777;
	border-radius: 3px;
	position: relative;
}
.cont:before{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-right: 10px solid #777;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	left: -10px;
	top: 100px;
}